body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover; 
    background-position: center;
    margin: 0;
    padding: 0; 
    overflow: hidden;

}
